
<div style="text-align:center">
  <h2>
    {{title}}!
  </h2>
  <div class="container">
    <form>
      <div class="input-group">
        <input #basicName type="text" class="form-control" placeholder="Name">
        <div class="input-group-btn">
          <button class="btn btn-primary" (click)="add(basicName.value); basicName.value=''" type="submit">
            +
          </button>
        </div>
      </div>
    </form>
    <table class="table">
      <tr *ngFor="let basic of basics">
          {{basic.name}}
          <button class="btn btn-danger" (click)="delete(basic)">Del</button>
      </tr>
    </table>
  </div>
</div>
