<div style="text-align:center">
  <form>
    <div class="form-group">
      <div class="input-group">
        <input #messageText type="text" class="form-control" placeholder="Message">
        <div class="input-group-btn">
          <button class="btn btn-primary" (click)="add(messageText.value); messageText.value=''" type="submit">
            +
          </button>
        </div>
      </div>
    </div>
  </form>
  <table class="table table-bordered table-striped">
    <tr *ngFor="let message of messages">
      <td>
        <div class="row">
          <div class="col-12">
            {{message.text}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 col-sm-11">
          </div>
          <div class="col-md-1 col-sm-1">
            <a class="text-danger fa fa-times" (click)="delete(message)" aria-hidden="true"></a>
            <a class="text-success fa fa-arrow-right" (click)="gotoMessage(message)" aria-hidden="true"></a>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
